@font-face {
    font-family: 'Inter-SemiBold';
    src: url(Inter-SemiBold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter-SemiBold';
}
.container {
    margin: 0 auto;
}
.bmi-content {
    position: relative;
    background-color: #fff;
    width: 375px;
    height: 750px;
    margin: 0 auto;
    background-image: url('bmi-content-background-mobile.png');
    background-size: cover;
    border-radius: 0px 0px 35px 35px; 
    padding-inline: 24px;
}
.bmi-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 327px;
    padding-inline: 24px;
    align-items: center;
    & .bmi-logo {
        padding-top: 32px;
    }
    & h4 {
        text-align: center;
        font-size: 48px;
        font-weight: 600;
        line-height: 110%; /* 52.8px */
        letter-spacing: -2.4px; 
        color: #253347;
    }
}
.bmi-text h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */ 
    color: #5E6E85;
    text-align: center;
}
.bmi-calculator {
    position:absolute;
    top: 71%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 16px;
    width: 304px;
    z-index: 1;
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25); 
}
.calculator {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    & h3 {
        color: #253347;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.2px; 
    }
}
.msg {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */ 
    color: #fff;  
}
.radioBtns {
    display: flex;
    gap: 24px;
    color: #253347;
    & input {
        visibility: hidden;
    }
    & label {
        display: flex;
        gap: 18px;
        align-items: center;
        justify-content: center;
        height: 31px;
        font-size: 18px;
        font-weight: 600;
        line-height: 150%; /* 24px */ 
        background-image: url(/public/radio-icon.svg);
        background-repeat: no-repeat;
        background-size: 31px;
        padding-left: 5px;
        cursor: pointer;
        &:has(:checked) {
            background-image: url(/public/radio-icon-selected.svg);
            font-weight: bold;
        }
    }
}
.unit {
    margin-right: 18px;
}
.heightweight {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.calculator-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.miniTitle {
    color: #5E6E85;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */ 
    margin-bottom: 8px;
}
.height, .weight {
    border: 1px solid #d8e2e7;
    border-radius: 12px;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    & input {
        border: none;
        color: #253347;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -1.2px; 
        width: 181px;
    }
}

.info {
    color: #345FF6;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px; 

}
.result {
    border-radius: 16px;
    background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%); 
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    & p {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%; /* 21px */ 
    }
}
.result-top-sec {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; /* 24px */ 
    }
    & h2 {
        color: #fff;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 52.8px */
        letter-spacing: -2.4px;  
    }
}
/* placeholder içinde okların görünmemesi için*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@-moz-document url-prefix() {
    input[type="number"] {
      -moz-appearance: textfield;
    }
}
/**/

/* result section */
.result-inner {
    position: relative;
    z-index: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 48px;;
    width: 375px;
    margin: 0 auto;
    margin-top: 500px;
}
.result-inner-tablet-web {
    display: none;
}
.result-section {
    border-radius: 16px;
    background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
}
.result-top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & h4{
        font-size: 48px;
        font-weight: 600;
        line-height: 110%; /* 52.8px */
        letter-spacing: -2.4px; 
        color: #fff;
    }
    & h5 {
        font-size: 16px;
        font-weight: 600;
        line-height: 150%; /* 24px */  
    }
    & h4, h5{
        color: #fff;
    }
}
.result-bot {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%; 
}

.result-left {
    background-image:  url(backgroundclr.png);
    background-repeat: no-repeat;
    background-position: bottom;
    & img {
        width: 375px;
        padding: 32px 32px 0 32px;
    }
}
.result-right {
    padding-inline: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    & h4 {
        color: #253347;
        font-size: 32px;
        font-weight: 600;
        line-height: 110%; /* 35.2px */
        letter-spacing: -1.6px; 

    }
    & h5 {
        color: #5E6E85;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */ 
    }
}

/*tips section*/
.tips-inner {
    background-color: #f7fbfe;
    width: 375px;
    margin: 0 auto;
}
.tips-content {
    display: flex;
    flex-direction: column;
    padding: 56px 29px 56px 19px;
    gap: 40px;
}
.bowl {
    width: 64px;
    background-color: #fbdded;
    border-radius: 50px;
    padding: 16px;
}
.tips-boxes {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.tips-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    & h4 {
        color: #253347;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.2px; 
    }
    & h6 {
        color: #5E6E85;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */ 
    }
}
.barbell {
    background-color: #fcefe1;
    width: 64px;
    padding: 16px;
    border-radius: 50px;
}
.moon {
    background-color: #dbf5f6;
    width: 64px;
    padding: 16px;
    border-radius: 50px;
}
/**/

/*BmiLimitation section started*/
.limitations-inner {
    background: linear-gradient(290deg, rgba(214, 230, 254, 0.25) 0%, rgba(214, 252, 254, 0.00) 100%);
    width: 375px;
    margin: 0 auto;
}
.limitation-content {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 72px 29px 96px 19px;
}
.limitation-spec {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25); 
    border-radius: 16px; 

}
.limitation-mid, .limitation-bot, .limitation-deep {
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.limit-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    & h4{
        color: #253347;
        font-size: 32px;
        font-weight: 600;
        line-height: 110%; /* 35.2px */
        letter-spacing: -1.6px; 
        text-align: center;
    }
    & p {
        text-align: center;
        color: #5E6E85;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */ 
    }
}
.box-content-h {
    display: none;
}
.box-content {
    background-color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    & h6 {
        color: #5E6E85;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */ 
    }
}
.img-title {
    display: flex;
    align-items: center;
    gap: 16px;
    & img {
        width: 32px;
    }
    & h4 {
        color: #253347;
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1px; 

    }
}
.mid-bot-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
/* Responsive*/

@media (376px <= width <= 768px) {
    .bmi-content {
        width: 768px;
    }
    .bmi-text {
        width: 686px;
    }
    .bmi-calculator {
        width: 686px;
        top: 10%;
        padding: 32px;
        position: relative;
    }

    .radioBtns {
        & label {
            width: 299px;
            font-size: 21px;
        }
    }

    .unit {
        margin-right: -135px;
    }
    .weight, .height {
        width: 272px;
        gap: 24px;
        & input {
            width: 180px;
        }
    }
    .calculate-parts {
        display: flex;
        gap: 24px;
    }
    .result {
        border-radius: 16px 999px 999px 16px; 
        flex-direction: row;
        & p {
            width: 267px;
        }
    }
    .result-top-sec {
        display: flex;
        width: 267px;
    }
    .result-inner {
        display: none;
    }
    .result-inner-tablet-web {
        width: 768px;
        display: flex;
        gap: 75px;
        margin-top: 163px;
        padding-block: 35px;
        & .result-right {
            width: 331px;
        }
    .result-left-tab-pc {
        height: 410px;
        background-image: url(background-tab-pc.svg);
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .result-right {
        gap: 35px;
        height: 342px
    }
    }
    .tips-inner {
        width: 768px;
        margin-top: 96px;
    }
    .tips-content {
        padding: 60px 43px 60px 39px;
    }
    .tips-boxes {
        flex-direction: row;
        gap: 40px;
        & .bowl, .barbell, .moon {
            height: 64px;
        }
    }
    .limitations-inner {
        margin: 0 auto;
        width: 768px;
    }
    .limitation-content {
       padding: 96px 43px 95px 39px;
    }
    .limit-text h4{
        text-align: center;
    }
    .limitation-mid, .limitation-bot {
        flex-direction: row;
        gap: 15px;
    }
    .box-content {
        width: 335px;
    }
    .limitation-deep {
        display: flex;
        align-items: center;
    }

}




/* @media (769px <= width <= 1276px) {
    .bmi-content {
        width: 1276px;
    
    }
} */